VITE_APP_NAME='Simple Kanban'
VITE_IPBIND='0.0.0.0'
VITE_PORT=4000
VITE_DATABASE_URL=''
VITE_JWT_SECRET=''
VITE_JWT_EXPIRATION='1h'
VITE_TOKEN_PREFIX='sk_'
VITE_IMAGE_UPLOAD_LIMIT=10
VITE_PAGINATION_ITEMS=10
VITE_SIZE_LIMIT='12MB'
