@import 'tailwindcss';

@plugin 'daisyui' {
    exclude: rootscrollgutter;
}

@import '@fontsource-variable/plus-jakarta-sans';

body {
    font-family: 'Plus Jakarta Sans Variable', sans-serif;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 1s linear infinite;
}

input::-ms-reveal,
input::-ms-clear,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.spin {
    animation: spin 1s linear infinite;
}

.important {
    display: inline-block;
}

.important::after {
    content: '*';
    color: var(--color-red-500);
}

.btn-error:not(.btn-outline),
.btn-error:focus {
    @apply text-white;
}

.btn-error.btn-outline:hover {
    @apply text-white;
}

.btn-primary {
    @apply bg-sky-800 hover:bg-sky-900 text-white border-none;
}

.btn-primary:disabled {
    @apply bg-sky-800 text-gray-200/50 saturate-35 border-none;
}