@import 'tailwindcss';
@import '@fontsource-variable/plus-jakarta-sans';

@plugin 'daisyui' {
    exclude: rootscrollgutter;
}

@plugin "daisyui/theme" {
    name: "light";
    --color-primary: var(--color-sky-800);
    --color-error-content: var(--color-white);
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: var(--color-sky-800);
    --color-error-content: var(--color-white);
}

body {
    font-family: 'Plus Jakarta Sans Variable', sans-serif;
}

input::-ms-reveal,
input::-ms-clear,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.important {
    display: inline-block;
}

.important::after {
    content: '*';
    color: var(--color-red-500);
}